.fade-up {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-up.visible {
    opacity: 1;
    transform: translateY(0);
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
.nav-item.dropdown .dropdown-toggle::after {
    display: none;
}

body {
    font-family: 'Arial', sans-serif; /* Modern, clean font */
    background-color: #f3f7f5; /* Light background color */
    margin: 0;
    padding: 0;
}

/* button */
.btn-success {
    background-color: #03774A;
    border-radius: 15px;
    border-color: #03774A;
    padding: 10px 45px;
    color: #fff;
}

.btn-outline-success {
    background-color: transparent;
    border-radius: 15px;
    border-color: #03774A;
    padding: 10px 45px;
    color: #03774A;
}

/* Navbar */
.navbar {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: transparent;
    box-shadow: none;
}

.navbar.scroll-nav-active {
    background-color: rgba(3, 119, 74, 0.9);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.navbar-nav .nav-link {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.nav-link.active, .nav-link:hover {
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    transform: scale(1.05);
}

.btn-custom {
    background-color: #fff;
    color: #03774A;
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 10px 45px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #03774A;
    color: #fff;
    border-color: #fff;
}

/* Enhance dropdown menu */
.dropdown-menu {
    background-color: #fff;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    color: #03774A;
    transition: background-color 0.3s ease, color 0.3s ease;
}
    
.dropdown-item:hover {
    background-color: #04D361;
    color: #fff;
}


/* hero */
#hero {
    position: relative;
    background-image: url('../../assets/img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 690px;
    margin-bottom: -250px;
    height: 600px;
    margin-bottom: -140px;

}

#hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
}

#hero .container {
    position: relative;
    z-index: 2;
}

.hero-title {
    padding-top: 200px;
}

.hero-text {
    font-size: 50px;
    font-weight: 600;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: -40px; /* Ubah nilai sesuai kebutuhan */
}

/* Responsiveness */
@media (max-width: 768px) {
    #hero {
        height: 400px;
    }

    .hero-title {
        padding-top: 100px;
    }

    .hero-text {
        font-size: 30px;
        padding: 0 15px;
    }
}

/* program */
.program-container {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 20px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    border: 1px solid #e0e0e0;
    z-index: 1;
}

.program-baris-ikon {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to new lines */
    justify-content: center;
    gap: 20px;
}

.program-ikon {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
    padding: 20px;
    background: #03774A;
    border-radius: 15px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 170px;
    border: 1px solid #03774A;
    box-sizing: border-box;
}

.program-ikon img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #ffffff;
    padding: 4px;
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.4);
    border: 1px solid #e0e0e0;
}

.program-title {
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.program-ikon:hover {
    transform: translateY(-10px);
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.4);
}

.dropdown-toggle {
    color: #f0f0f0;
}

.dropdown-menu {
    margin-top: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.dropdown-menu .dropdown-item {
    font-size: 16px;
    color: #333333;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f0f0f0;
    color: #333333;
}

@media (max-width: 1200px) {
    .program-ikon {
        width: 130px;
        height: 170px;
        padding: 15px;
    }

    .program-ikon img {
        width: 60px;
        height: 60px;
        padding: 10px;
    }

    .program-title {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .program-ikon {
        width: calc(50% - 20px); /* Two columns with gap */
        max-width: 200px; /* Limit maximum width */
        margin: 10px 0; /* Adjust margin for spacing */
    }
}

@media (max-width: 480px) {
    .program-ikon {
        width: calc(50% - 10px); /* Two columns with gap */
        max-width: 150px; /* Limit maximum width */
        margin: 10px 0; /* Adjust margin for spacing */
    }
}



#berita {
    position: relative;
    background-image: url('../../assets/img/bg1.png');
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%; 
    margin-bottom: 80px;
    padding: 50px 0; 
}

#berita .container {
    max-width: none; /* Menghapus batasan lebar */
}

#berita .header-berita h2 {
    color: #03774A;
    font-family: 'Arial', sans-serif; 
}

#berita .card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s, box-shadow 0.3s; 
}

#berita .card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
}

#berita .card-img-top {
    border-radius: 10px;
    transition: transform 0.3s; 
    height: 250px; /* Tinggi gambar yang diperbesar */
    object-fit: cover; /* Memastikan gambar tetap proporsional */
}

#berita .card:hover .card-img-top {
    transform: scale(1.05); 
}

#berita .card-body {
    background-color: #f8f9fa;
    border-radius: 0 0 10px 10px;
}

#berita .btn-primary {
    background-color: #03774A; 
    border-color: #03774A;
    transition: background-color 0.3s, border-color 0.3s;
}

#berita .btn-primary:hover {
    background-color: #025C3E; 
    border-color: #025C3E;
}

#berita .btn-carousel {
    background: none;
    border: none;
    font-size: 24px;
    color: #03774A;
    cursor: pointer;
    transition: color 0.3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

#berita .btn-carousel.prev {
    left: 10px; /* Mengatur jarak dari kiri */
}

#berita .btn-carousel.next {
    right: 10px; /* Mengatur jarak dari kanan */
}

/* CSS untuk slider */
.carousel {
    width: 100%;
    overflow: hidden;
}

.carousel-container .row {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease;
    margin: 0 -15px;
}

.carousel-item {
    flex: 0 0 auto;
    padding: 0 15px;
}

/* Mengatur ukuran slider untuk layar kecil */
@media (max-width: 767px) {
    .carousel .col-lg-4 {
        margin-right: 0; 
    }

    #berita .btn-carousel.prev, #berita .btn-carousel.next {
        left: 10px;
        right: 10px;
        top: auto;
        bottom: 10px;
        transform: none;
    }
}


/* kegiatan mendatang */
.header-kegiatan h2 {
    color: #03774A;
}

#upcoming-events .card {
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

#upcoming-events .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

#upcoming-events .card-img {
    position: relative;
    overflow: hidden;
}

#upcoming-events .card-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#upcoming-events .card-body {
    padding: 20px;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#upcoming-events .card-title a {
    color: #343a40;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

#upcoming-events .card-title a:hover {
    color: #007bff;
}

#upcoming-events .fst-italic {
    color: #6c757d;
}

#upcoming-events .card-text {
    color: #343a40;
    font-size: 16px;
}

#upcoming-events .section-title h2 {
    text-align: center;
    color: #03774A;
    margin-bottom: 50px;
}

.icon-text {
    margin-left: 10px;
}

.carousel {
    width: 100%;
    overflow: hidden;
}

.carousel-container .row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0 -15px;
}

.carousel-item {
    flex: 0 0 auto;
    padding: 0 15px;
}

.card {
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

  

/* dokumentasi */
/* paralax background */
.section-foto {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: auto; /* Ubah ketinggian ke otomatis */
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(3, 119, 74, 0.6); /* Adding a green overlay */
    position: relative;
    overflow: hidden; /* Mengatur overflow agar efek hover terjadi di dalam */
}

.section-foto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../assets/img/hero.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 0.6;
    z-index: -1;
}

.stripe-putih {
    height: 5px;
    width: 40px;
    background-color: #ffffff;
}

.img-fluid-doc {
    width: 100%; /* Mengisi lebar container */
    height: 250px; /* Atur tinggi foto */
    object-fit: cover; /* Memastikan proporsi foto tetap */
    border: 2px solid #ffffff; /* Adding a white border to images */
    transition: transform 0.3s; /* Efek transisi saat digeser */
}

.img-fluid-doc:hover {
    transform: scale(1.05); /* Memperbesar foto saat digeser */
    cursor: pointer; /* Mengubah kursor saat digeser */
}


/* footer */
#footer {
    font-size: 14px;
    background: #03774A;
    color: #fff;
}

#footer h5 {
    color: #03774A; /* Dominant color */
}

#footer .nav-link {
    color: #6c757d; /* Muted text color */
}

#footer .nav-link:hover {
    color: #03774A; /* Dominant color on hover */
    text-decoration: underline;
}

#footer p {
    color: #6c757d; /* Muted text color */
}

#footer-bottom {
    background-color: #03774A;
    color: #fff;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}

html{
    height: 100%;
    box-sizing: border-box;
}

body{
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 6.74rem;
    box-sizing: inherit;
}


#footer-bottom .text-center {
    color: #fff;
}

#footer-bottom .text-center strong span {
    color: #fff; /* This ensures the text inside the span remains white */
}

#footer {
    font-size: 14px;
    background: #03774A;
    color: #fff;
}

#footer h5 {
    color: #03774A; /* Dominant color */
}

#footer .nav-link {
    color: #6c757d; /* Muted text color */
}

#footer .nav-link:hover {
    color: #03774A; /* Dominant color on hover */
    text-decoration: underline;
}

#footer p {
    color: #6c757d; /* Muted text color */
}

.nav-link {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: top;
  }
  .icon-text {
    grid-column: 2;
  }
  .logo-description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    
    .logo {
      width: 85px; /* adjust the width of the logo */
      height: auto;
      margin-bottom: 20px;
    }
    
    .description {
      font-size: 16px;
      color: #666;
      text-align: flex-start;
    }

@media (max-width: 768px) {
    #footer .nav-link, #footer p {
        text-align: center;
    }

    #footer-bottom .text-center {
        text-align: center;
    }
}

/* Tambahan gaya untuk breadcrumb */
.breadcrumb-section {
    background-color: #e9e9e9;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.breadcrumb {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.breadcrumb-item a {
    color: #333;
    font-weight: 400;
    text-decoration: none;
}

/* Breadcrumb CSS */
.breadcrumb-separator {
    margin: 0 5px; /* Sesuaikan margin sesuai kebutuhan */
    color: #777; /* Atur warna tanda pemisah */
    font-size: 14px; /* Sesuaikan ukuran font sesuai kebutuhan */
}

.breadcrumb-item.active {
    color: #03774A;
    font-weight: bold;
}

.breadcrumb-item a:hover {
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 2px 5px;
    transition: all 0.3s ease;
}

.fa-chevron-right, .fa-angle-right {
    margin: 0 5px;
    color: #666;
}

/* Responsiveness */
@media (max-width: 768px) {
    .breadcrumb {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .breadcrumb {
        font-size: 12px;
    }
    
    .breadcrumb-item i {
        display: none;
    }
}

/* Separator */
.breadcrumb-item:not(:last-child) {
    margin-right: 5px;
}

/* Animation for Home link */
.breadcrumb-home {
    position: relative;
}

.breadcrumb-home::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(3, 119, 74, 0.1);
    border-radius: 50%;
    transition: width 0.5s ease, height 0.5s ease, left 0.5s ease, top 0.5s ease;
}

.breadcrumb-home:active::after {
    width: 200%;
    height: 200%;
    left: -50%;
    top: -50%;
}



